<app-header></app-header>
<div class="game-wrapper">
    <div class="container container--column">
        <app-status-bar></app-status-bar>
        <main class="game">
            <app-player
                [field]="player.field"
                [fleet]="player.fleet"
                [isShipsVisible]="true" 
                [isCanFire]="false"
                [movesHistory]="player.movesHistory">
            </app-player>
            <app-player
                [field]="enemy.field"
                [fleet]="enemy.fleet"
                [isShipsVisible]="false" 
                [isCanFire]="true"
                [movesHistory]="enemy.movesHistory">
            </app-player>
        </main>
    </div>
</div>
<app-footer></app-footer>