<footer class="footer">
  <div class="container">
    <div class="copyright">
      <p class="copyright__text">Aleksey Lipkin</p>
    </div>
    <div class="social">
      <ul class="social__list">
        <li class="social__item">
          <a target="blank" href="https://github.com/lipkin1aleksey" class="social__icon social__icon--git"></a>
        </li>
        <li class="social__item">
          <a target="blank" href="https://vk.com/reseadle" class="social__icon social__icon--vk"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>